In [4]:
import numpy as np
import pandas as pd
import math
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv("Data1.csv")
data = data.drop('Unnamed: 0', axis = 1)

In [6]:
data

             0         1         2
0    -0.744863 -0.914015 -1.815700
1     0.039325  1.064930 -1.587150
2    -0.407660  0.397869 -1.909981
3     0.033789  0.967298 -1.014872
4    -0.179156  0.695176 -1.491172
...        ...       ...       ...
1995  0.398439 -0.292394  1.984417
1996  0.990135  0.141825  2.818675
1997  0.238568 -0.284869  1.386192
1998 -0.006532 -0.993170  1.481348
1999 -3.003015 -3.628169 -4.825869

[2000 rows x 3 columns]

In [38]:
#defining sigmoidal function
def sigmoidal(x):
    y = 1/(1 + np.exp(-x))
    return y

#defining logistic function
def logistic_pdf(x):
    y = sigmoidal(x)(1 - sigmoidal(x))
    return y


#creating data matrix of givaen signals
def signal_data_matrix(data):
    X = []
    for i in range(len(data)):
        a = []
        for j in range(len(data.columns)):
            a.append(data.iloc[i][j])
        X.append(a)
    return np.matrix(X)

#defining Frobenius norm
def Frobenius_norm(A):
    A = np.array(A)
    x = 0
    for i in range(len(A)):
        for j in range(len(A[0])):
            x += A[i][j]**2
    return math.sqrt(x)
        

def ICA(data,alpha):
    X = signal_data_matrix(data)
    
    #initialize the matrix
    W_new = np.matrix(np.eye(len(X.T)))

    W_old = W_new + 1

    while Frobenius_norm(W_new - W_old)>0.0001:
        W_old = W_new
        

        for i in range(len(X)):
            lis = []
            for j in range(len(X.T)):
                lis.append(1 - sigmoidal(float(np.matmul(W_old[j],X[i].T))))
            lis = np.matrix(lis).T
            W_new = W_old + alpha*(np.matmul(lis,X[i]) + np.linalg.inv(W_old.T))
        return np.matmul(W_new,X.T).T

In [39]:
X = signal_data_matrix(data)
len(X.T)
W_new = np.matrix(np.eye(len(X.T)))
float(np.matmul(W_new[0],X[0].T))

-0.7448631476895698

In [40]:
ICA(data,0.01)

matrix([[-0.61592782, -0.78370598, -1.6918426 ],
        [ 0.07475473,  1.11140297, -1.56653902],
        [-0.32601223,  0.48949931, -1.83981682],
        ...,
        [ 0.1802426 , -0.34979328,  1.33683665],
        [-0.04018798, -1.03744742,  1.46118453],
        [-2.59984109, -3.22151006, -4.42303758]])